@import url(variables.css);
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to right, #f7a000, #ffcc33);
}
#form__login {
    background: white;
    padding: 2rem;
    border-radius: 20px;
    box-shadow: 5px 4px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 475px;
    height: 550px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* #dialog__login{
    position: fixed;
    top: 50%;
    left: 50%;
    backdrop-filter: blur(5px);
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(2px);    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    border-color: transparent;
    color: white;
} */
.dialog__header{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}
.div__title {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}
.div__title h1 {
    
    font-size: 1.5rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}
h2 {
    font-size: 1.5rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}
strong {
    font-size: 1.2rem;
}
.bar {
    width: 8px;
    height: 39px;
    background: #f7a000;
    margin-right: 8px;
}
p {
    font-size: 0.9rem;
    color: rgb(180, 180, 180);
    margin-bottom: 20px;
}
.div__input {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

}
.div__input div {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: left;
}
label {
    font-size: 0.9rem;
    font-weight: bold;
    margin: 5px 0;
}
input {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    width: 100%;
}
input:hover {
    border-color: #f7a000;
}
.div__button {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
input[type="submit"] {
    background: #f7a000;
    border: none;
    color: white;
    font-size: 1rem;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}
input[type="submit"]:hover {
    background: #e69500;
}
.div__button span {
    margin-top: 10px;
    font-size: 0.9rem;
    color: gray;
}
.div__button a {
    color: #f7a000;
    text-decoration: none;
    font-weight: bold;
}
.div__button a:hover {
    text-decoration: underline;
}
