@import url(variables.css);
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #E5E5E5;
}
.search__wrapper {
    justify-content: end;
    padding-right: 20px;
    align-items: center;
    display: flex;
    width: 85%;
    height: 60px;
    background: #ffffff;
    margin-left: 250px;


}
.search__container{

    display: flex;
    align-items: center;
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 25px;
    padding: 8px 12px;

}
.search__container input {
    border: none;
    outline: none;
    background: transparent;
    flex: 1;
    font-size: 14px;
    color: #000000;
    padding: 5px;

}

/* Icono de la lupa */
.search__container i {
    color: #bbb;
    font-size: 16px;
    cursor: pointer;
  }

  /* Ãcono de campana */
.notification-icon {
    margin-left: 10px;
    color: #bbb;
    font-size: 18px;
    cursor: pointer;
  }

.div__container {
    display: flex;
    flex-direction: column;
    margin-left: 250px;
    width: 85%;
}
.div__header{
    /* background-color: #ffffff; */
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
}
.div__header h2 {
    font-size: 24px;
}
.button__add {
    background-color:#FEAF00;
    color: #ffffff;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}
.button__add:hover {
    background-color: #E09E0D;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}
#dialog__add_student,
#dialog__student_edit,
#dialog__student_delete{
    margin: auto;
}
.dialog__header{
    display: flex;
    justify-content: flex-end;
}
.dialog__header > span{
    cursor: pointer;
    padding: 5px;
    border: 1px solid #000;
}
table {
    width: 100%;
    border-collapse: collapse;
    border-top-width: 1px;
    border-top-style: solid;
    border-radius: 8px;
    overflow: hidden;
    border-radius: 10px;
}
th, td {
    padding: 12px 16px;
    text-align: left;
    border-left: 8px; ;

}
th {
    /* background-color: #ffffff; */
    font-weight: bold;
    
}
td {
    background-color: #ffffff;
    border-bottom: 10px solid #E5E5E5;
    box-shadow: 0px 0.2px 0px rgba(0, 0, 0, 0.5);


}
img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.td__actions {
    display: flex;
    gap: 10px;
}
.span__edit, .span__delete {
    cursor: pointer;
}
.span__edit {
    color: #f4a261;
}
.span__delete {
    color: #e63946;
}