<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Students</title>
    <link rel="stylesheet" href="../css/student.css">
</head>
<body>
    <main>
        <div class="div__container">
            <div class="div__header">
                <h2>Students List</h2>
                <button class="button__add">ADD NEW STUDENT</button>
            </div>
            <dialog id="dialog_add_student">
                <form action="?" method="post">
                    <div>
                        <label>name</label>
                        <input type="email" name="Email">
                    </div>
                    <div>
                        <label>name</label>
                        <input type="email" name="Email">
                    </div>
                    <div>
                        <label>name</label>
                        <input type="email" name="Email">
                    </div>
                    <div>
                        <label>name</label>
                        <input type="email" name="Email">
                    </div>
                </form>
            </dialog>
            <table>
                <thead>
                    <tr>
                        <th>Photo</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Phone</th>
                        <th>Enroll Number</th>
                        <th>Date of Admission</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><img src="#" alt="student"></td>
                        <td>Karthi</td>
                        <td>karthi@gmmail.com</td>
                        <td>7305477760</td>
                        <td>1234567305477760</td>
                        <td>08-Dec, 2021</td>
                        <td class="td__actions">
                            <span class="span__edit">✏️</span>
                            <span class="span__delete">🗑️</span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </main>
</body>
</html>